#systemd file for running server as service and on startup
[Unit]
Description=MedSearch Request Hosting Service
Author=Tanmay Vakare

[Service]
WorkingDirectory=/home/tanmayvakare
ExecStart=/usr/bin/python3 server.py
Restart=always

[Install]
WantedBy=multi-user.target
